
*.xml
*.jar
*.java
*.props
*.ide-wal
*.lock
*.stamp
*.cache
*.txt
*.ide-shm
*.ide
*.ttf
Droid/obj/*
Droid/bin/*
iOS/obj/*
iOS/bin/*
packages/*
*.dll
*.nupkg
*.p7s
*._
*.targets
*.ps1
*.pdb
*.xaml
*.pri
*.xbf
*.mdb
*.pp
Droid/.DS_Store
.DS_Store
*.json
