<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plugin.InAppBilling" version="1.2.4" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Compression" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Core" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.DocIO" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.GridCommon" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.OfficeChart" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Pdf" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfBarcode" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfBusyIndicator" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfCalendar.IOS" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart.IOS" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfDataGrid.IOS" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfGauge.IOS" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfImageEditor.IOS" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox.IOS" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown.IOS" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfPicker" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfPicker.IOS" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.XlsIO" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.4.7" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.AdMob" version="7.27.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="4.0.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="4.0.13" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="2.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.MobileAds" version="7.27.0" targetFramework="xamarinios10" />
</packages>