<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Build.Download" version="0.4.7" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Ads.Lite" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Basement" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="xamstore-xamarin.inappbilling" version="1.5" targetFramework="monoandroid70" />
</packages>