<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="110" android:versionName="1.1" android:installLocation="preferExternal" android:largeHeap="true" package="ch.cscs.vk">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<!--<uses-permission android:name="android.permission.INTERNET" /> -->
	<!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
	<!--<uses-permission android:name="com.android.vending.BILLING" /> -->
	<!--<uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:largeHeap="true" android:label="CSCS"></application>
</manifest>