<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.0" targetFramework="net451" />
  <package id="FluentSharp.AST" version="5.5.156" targetFramework="net451" />
  <package id="FluentSharp.CoreLib" version="4.0.0.0" targetFramework="net451" />
  <package id="FluentSharp.REPL" version="5.5.172" targetFramework="net451" />
  <package id="FluentSharp.SharpDevelopEditor" version="5.3.111" targetFramework="net451" />
  <package id="FluentSharp.Web_3_5" version="5.4.146" targetFramework="net451" />
  <package id="FluentSharp.WinForms" version="5.3.109" targetFramework="net451" />
  <package id="FluentSharp.Zip" version="5.5.156" targetFramework="net451" />
</packages>